* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  background: url('https://i.imgur.com/b9r5sEL.jpg') center;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  height: 60px;
  width: 80px;
  margin-right: 20px;
  border-radius: 3px;
  border: 2px solid black;
  transition: all .07s ease;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.container button h2 {
  color: white;
}

.container button span {
  font-size: 10px;
  color: #d6bc13;
}

